body {
  background-color:#ffffff;
}

.App {
  border: 1px solid red;
  font-family: serif;
}

.navbar {
  padding: 10px;
  width: 100%;
  background-color: #e4b1ab;
  color: white;
  font-size: 24px;
  letter-spacing: 2px;
  margin-bottom: auto;
}

.container {
  border: 1px solid orange;
  padding: 55px;
}

.App footer {
  text-align: center;
  color: #e4b1ab;
}