.Dictionary form {
  text-align: center;
}
 
.Dictionary section {
  background: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin: 20px auto;
  max-width: 85%;
}

.Dictionary input {
  width: 50%;
  text-align: center;
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #E4B1AB;
}

.Dictionary .hint {
  font-size: 12px;
  text-align: center;
}



