.Synonyms {
  margin-left: 20px;
  padding: 0;
}

.Synonyms li {
  background-color: #FEEFEE;
  color: #E3B1AB;
  font-size: 13px;
  display: inline-block;
  margin-right: 20px;
  padding: 5px;
  border-radius: 5px;
}